:root {
  --grey-bg-color: #fafafa;
  --code-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  --page-font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  --page-font-size: 16px;
  --border-color: #dddddd;
  --class-public-access: #008000;
  --class-private-access: #a90505;
  --class-method-param: #2c3868;
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--page-font-size);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--page-font);
}

.content {
  /*font-family: var(--page-font);*/
}

.content a,
.content a:visited {
  color: #0366d6;
  text-decoration: none;
}

.content strong, .content b {
  font-weight: 500;
}

.content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-family: var(--code-font);
}

.content pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  font-family: var(--code-font);
}

.content p code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-family: var(--code-font);
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
  color: #555;
}

.content h1, .content h2, .content h3 {
  font-weight: 500;
  border-bottom: solid 1px var(--border-color);
}

.content table {
  border: 1px solid var(--border-color);
  margin: 1rem 0;
  border-collapse: collapse;
}

.content table thead {
  background-color: var(--grey-bg-color);
}

.content table th {
  padding: 0.5rem;
  font-weight: 600;
}

.content table td {
  padding: 0.5rem;
  white-space: nowrap;
}

.content table tbody tr:nth-child(2n) {
  background-color: #f6f8fa;
}

header {
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--grey-bg-color);
  top: 0;
  border-bottom: solid 1px var(--border-color);
  height: 50px;
}

header .logo {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  align-items: center;
}

header .logo img {
  width: 35px;
}

header .logo .title {
  margin-left: 0.5rem;
  text-transform: capitalize;
}

footer {
  background-color: var(--grey-bg-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px var(--border-color);
}

.body-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 50px;
}

.left-menu {
  flex: 0 0 250px;
  height: 100%;
  overflow: auto;
  font-size: 1rem;
  padding: 0 1rem;
  border-right: 2px solid #ccc;
}

.left-menu ul {
  padding: 0;
}

.left-menu ul li {
  list-style-position: inside;
  list-style-type: none;
  line-height: 2;
}

.left-menu ul li a,
.left-menu ul li a:visited {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.left-menu ul li a .list-indicator {
  padding: 0rem 0.3rem;
  background-color: #cccccc;
  color: #ffffff;
  border-radius: 2px;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.left-menu ul li a .list-indicator.manual {
  background-color: #607d8b;
}

.left-menu ul li a .list-indicator.class {
  background-color: #4CAF50;
}

.left-menu ul h1,
.left-menu ul h2,
.left-menu ul h3,
.left-menu ul h4 {
  font-weight: 500;
  word-break: break-all;
}

.left-menu ul h4 {
  margin: 1rem 0 0.5rem;
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0rem 2rem;
  font-size: 0.9rem;
}

.class-detail .content .extends {
  margin: 0.5rem 0;
}

.class-detail .content .extends .title {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
}

.class-detail .content .extends .content {
  margin-left: 0.5rem;
}

.class-detail .content .extends span:not(:last-child):after {
  content: ' -> ';
}

.class-detail .content .method h4 {
  font-size: 1rem;
  font-weight: 500;
}

.class-detail .content .method h4 .access {
  margin-right: 0.5rem;
}

.class-detail .content .method h4 .param {
  color: var(--class-method-param);
}

.class-detail .content .method h4 .access.public {
  color: var(--class-public-access);
}

.class-detail .content .method h4 .access.private {
  color: var(--class-private-access);
}

.class-detail .content .method .description {
  margin: 0.5rem 1rem;
  font-size: 0.9em;
}
