<header>
  <a href="/" class="logo">
    <img src="/public/brand_logo.png" alt="logo">
    <!-- <span class="title"><%= pageTitle %></span> -->
  </a>

  <a href="/manual">
    Manual
  </a>
  <a href="<%= gitRepoLink %>" target="_blank">
    <img src="/public/github.png" alt="link to github" style="height: 20px;">
  </a>
</header>
