<div class="left-menu">
  <ul>
    <% var classFolders = Object.keys(classes); %>
    <% for(var j = 0; j < classFolders.length; j +=1) {%>
      <h4><%= classFolders[j] %></h4>
      <% for(var i = 0; i < classes[classFolders[j]].length; i += 1) { %>
        <% var cClass = classes[classFolders[j]][i]; %>
        <li>
          <a href="<%= cClass.relativePath %>">
            <span class="list-indicator class">C</span>
            <%= cClass.name %>
          </a>
        </li>
      <% } %>
    <% } %>
  </ul>
</div>
