<div class="method">
  <h4>
    <span class="access <%= access %>">
      <%= access %>
    </span>
    <%= title %>
  </h4>
</div>

<table>
  <thead>
    <tr>
      <td colspan="2"><%# sectionTitle %></td>
    </tr>
  </thead>
</table>
