<div class="method">
  <h4>
    <span class="access <%= access %>">
      <%= access %>
    </span>
    <%= title %>
    (<%- params.map(p => `<span class="param">${p}</span>`).join(',') %>)
  </h4>
</div>
